.destination-container {
    width: 100%;
    position: absolute;
    height: 90vh;
    z-index: 1000;
    top: 13%;
    background-color: whitesmoke;
}

.destination-modal-enter {
    opacity: 0;
    animation-name: header-bg-anim;
    animation-duration: 300ms;

}

@keyframes header-bg-anim {
    0% {
        top: 100%;
    }
    100% {
        top: 13%;
    }
}

.destination-modal-enter-active {
    opacity: 1;
    transition: all 350ms;
}

.destination-modal-enter-done {
}

.destination-modal-exit {
    opacity: 1;
}

.destination-modal-exit-active {
    opacity: 0;
    transition: all 300ms;
}


.modal-close {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    right: 92px;
    position: absolute;
}

.modal-close :hover {
    cursor: pointer;
}

.close-button {
     color: white;
     padding-left: 3.45px !important;
     padding-top: 3px !important;
     font-size: 18px !important;
 }


.destination-details-content {
    margin: 60px;
}


@media only screen and (max-width: 600px) {

    .destination-details-content {
        margin: 20px;
    }

    .modal-close {
        right: 30px;
    }
}
